.BottomBarItem {
    flex: 1;
}
.BottomBarItem a {
    text-decoration: none;
    padding: 15px 0;
    display: block;
    color: #78787a;
    background: #fff;
}
.BottomBarItem a:hover {
    background-color: #EFEFF4;
}
