.EntryAdd {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 30px auto;
    padding: 40px 50px 20px;
    max-width: 350px;
    width: 100%;
}

.caption {
    padding: 20px 50px;
}

.caption button {
    color: #3897f0;
}

.remindPassword {
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    color: #003569;
}

.EntryAdd h4 {
    margin-bottom: 20px;
}