.Diary {
    text-align: left;
    background-color: #EFEFF4;
}
.Diary h5 {
    line-height: 1.38;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #78787a;
    padding: 9px 15px 8px;
}