.NavigationItem {
    flex: 1;
}
.NavigationItem a {
    text-decoration: none;
    padding: 15px 0;
    display: block;
    color: #78787a;
    background: #fff;
}
.NavigationItem a:hover {
    background-color: #efeff4;
}
