@import "../variables.scss";

.bottombar {
    background: #ddd;
    display: flex;
    &__col {
        width: 25%;
    }
    &__link {
        text-decoration: none;
        padding: 15px 0;
        display: block;
        color: $text;
        &:hover {
            background-color: #ccc;
        }
        &.active {
            color: $primary;
        }
    }
}