.BottomBar {
    background: #ddd;
    display: flex;
}
.BottomBar div {
    width: 25%;
}
.BottomBar a {
    text-decoration: none;
    padding: 15px 0;
    display: block;
    color: #78787a;
}
.BottomBar a:hover {
    background-color: #ccc;
}
.BottomBar a.active {
    color: #152975;
}