@import "../variables.scss";

.diary {
    text-align: left;
    background-color: $diaryHeadingBg;
    // TODO: calc(100%vh - header - status - bottombar)
    min-height: 450px;
    &__heading {
        line-height: 1.38;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        color: $text;
        padding: 9px 15px 8px;
    }
}