@import "../variables.scss";

.entry {
    background: #fff;
    padding: 7.5px 15px;
    border-bottom: 1px solid $entryBorder;
    display: flex;
    &__title {
        margin-left: 15px;
    }
    &__price {
        margin-left: auto;
    }
}