.Header {
    background: #152975;
    position: relative;
    padding: 12px 15px;
    font-size: 17px;
    font-weight: 500;
}
.Header button {
    color: #fff;
    padding: 0 3px;
}
.Header a {
    color: #fff;
}
.Header .add {
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 0;
    margin: auto;
}