.Input {
    width: 100%;
    margin-bottom: 8px;
}
.InputElement {
    outline: none;
    border: 1px solid #efefef;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    background: #fafafa;
    border-radius: 3px;
    font: inherit;
    display: block;
    width: 100%;
    color: #999;
    font-size: 12px;
    height: 36px;
    left: 8px;
}
.InputElement:focus {
    outline: none;
    border: 1px solid #ccc;
}
.Input .Invalid {
    border: 1px solid red;
}
